{% extends 'base.html' %}

{% block contenido %}
<h2>PELICULAS DISPONIBLES</h2>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for product in productos %}

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">{{product.nombre}}</h5>
            <p class="card-text">{{product.actores}}</p>
            <p class="card-text">{{product.duracionminutos}} min</p>
            <a href="#" class="btn btn-primary">MIRAR</a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}